@media only screen and (min-width:240px) and (max-width:350px) {

/* ==================================== Customized.php ====================================*/

/*------- Carousel --------*/

/* carousel image */
  #myCarousel .carousel-image {
    position: relative;
    left: -8.5%;
  }

/* ==================================== Footer.php ====================================*/

/*------- Text setting modal --------*/

/* align text */
  #alignTextModal {
    top: 0%;
    padding-bottom: 4%;
    font-size: 12px;
  }
}

@media only screen and (min-width:345px) and (max-width:365px) {

/* ==================================== Customized.php ====================================*/

  /*------- Carousel --------*/

  /* carousel image */
  #myCarousel .carousel-image {
    position: relative;
    left: -1.5%;
  }
}

@media only screen and (min-width:366px) and (max-width:385px) {

  /* ==================================== Customized.php ====================================*/

  /*------- Carousel --------*/

  /* carousel image */
  #myCarousel .carousel-image {
    position: relative;
    left: 1.5%;
  }
}

@media only screen and (min-width:400px) and (max-width:500px) {

/* ==================================== Customized.php ====================================*/

  /*------- Carousel --------*/

  /* carousel image */
  #myCarousel .carousel-image {
    position: relative;
    left: 1.5em;
  }
}

@media only screen and (max-width: 834px) {

  /* ==================================== Customized.php ====================================*/

  /*------- Common rule --------*/

  .tabs {
    color: #4d8cf2;
  }

  .close-customization {
    margin-top: 15px;
  }

  /*------- Firstlook options --------*/

/* firstlook style */
  #firstlook{
    position:fixed;bottom:0px;width:100%;
  }

  /* buynow button */
  #firstlook .buynow {
    background-color: #0483c2;
    color: white;
  }

/* firstlook columns */
  #firstlook .column-tabs {
    border: 1px solid #337ab7;
    padding: 2%;
    cursor: pointer;
  }


  /*------- Carousel --------*/

  /* Carousel controls */
  .carousel-control.left, .carousel-control.right {
    background: none !important;
  }

  /* carousel image */
  #myCarousel .carousel-image {
    margin-left: 0%;
  }

  /* carousel arrows previous and next */
  a>i {
    margin-top: 320%;
    font-weight: bold;
    color: blue;
  }

/*------- Navbar --------*/

 /* navbar close button*/
  button.close-customization {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
  }

  .close-customization {
    float: right;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    color: #FFF;
  }

  /* navbar logo */
  .logo {
    margin-bottom: 5%;
  }

  /* canvas container */
  #editorContainer {
    height: 480px;
  }


/* ==================================== Footer.php ====================================*/


  /*------- Common rule --------*/

/* modal header */
  .modal-header {
    padding: 2%;
    margin-bottom: 2%;
  }

  /* modal content */
  .modal-content {
    border-radius: 0px;
  }

    /* modal backdrop */
  .modal-backdrop {
    background: none;
  }

    /* navbar pills */
  .nav-pills>li {
    padding: 0px;
    margin-right: -2px;
    border: 1px solid #6298ef;
    cursor: pointer;
  }

  .nav-pills>li>a {
    border-radius: 0px;
  }

    /* navbar li */
  .nav>li>a {
    padding: 4%;
  }

    /* active class */
  .activemanual {
    background-color: #0483c2;
    color: white;
  }

  .activemanualtext>i {
    color: #0483c2;
  }

  .activemanualtext>p {
    color: #0483c2;
  }

/* close button on modals */
  .close {
    font-weight: bold;
    font-size: 16px;
  }

/* fonts droupup */
  .dropup-font {
    position: absolute;
    bottom: 74px;
    z-index: 99;
    min-width: 100%;
    background: white;
  }

/* images browse button */
  .btn-bs-file {
    position: relative;
  }

  .btn-bs-file input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
  }

/* well class */
  .well {
    background: white;
    margin-bottom: 0px;
    padding: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

/* range slider container */
  .slidecontainer {
    width: 100%;
  }

/* range slider */
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

/* slider hover */
  .slider:hover {
    opacity: 1;
  }

/* range slider button other than mozilla */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0483c2;
    cursor: pointer;
  }

/* range slider button for mozilla*/
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #0483c2;
    cursor: pointer;
  }




  /* liquid radio buttons */
  .custom-radios div {
    display: inline-block;
  }

  .custom-radios input[type="radio"] {
    display: none;
  }

  .custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }

  .custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
  }

  .custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all .3s ease;
  }

  .custom-radios input[type="radio"]#color-1 + label span {
    background-color: #2ecc71;
  }

  .custom-radios input[type="radio"]#color-2 + label span {
    background-color: #3498db;
  }

  .custom-radios input[type="radio"]#color-3 + label span {
    background-color: #f1c40f;
  }

  .custom-radios input[type="radio"]#color-4 + label span {
    background-color: #e74c3c;
  }

  .custom-radios input[type="radio"]#color-5 + label span {
    background-color: #000000;
  }

  .custom-radios input[type="radio"]#color-6 + label span {
    background-color: #ffffff;
  }

  .custom-radios input[type="radio"]#color-7 + label span {
    background-color: #ffe6cc;
  }

  .custom-radios input[type="radio"]#color-8 + label span {
    background-color: #660066;
  }

  .custom-radios input[type="radio"]#color-9 + label span {
    background-color: #4d1a00;
  }

  .custom-radios input[type="radio"]#color-10 + label span {
    background-color: #66ffff;
  }

  .custom-radios input[type="radio"]#color-11 + label span {
    background-color: #ff0000;
  }

  .custom-radios input[type="radio"]#color-12 + label span {
    background-color: #993333;
  }

  .custom-radios input[type="radio"]#color-s-1 + label span {
    background-color: #2ecc71;
  }

  .custom-radios input[type="radio"]#color-s-2 + label span {
    background-color: #3498db;
  }

  .custom-radios input[type="radio"]#color-s-3 + label span {
    background-color: #f1c40f;
  }

  .custom-radios input[type="radio"]#color-s-4 + label span {
    background-color: #e74c3c;
  }

  .custom-radios input[type="radio"]#color-s-5 + label span {
    background-color: #000000;
  }

  .custom-radios input[type="radio"]#color-s-6 + label span {
    background-color: #ffffff;
  }

  .custom-radios input[type="radio"]#color-s-7 + label span {
    background-color: #ffe6cc;
  }

  .custom-radios input[type="radio"]#color-s-8 + label span {
    background-color: #660066;
  }

  .custom-radios input[type="radio"]#color-s-9 + label span {
    background-color: #4d1a00;
  }

  .custom-radios input[type="radio"]#color-s-10 + label span {
    background-color: #66ffff;
  }

  .custom-radios input[type="radio"]#color-s-11 + label span {
    background-color: #ff0000;
  }

  .custom-radios input[type="radio"]#color-s-12 + label span {
    background-color: #993333;
  }

  .custom-radios input[type="radio"]:checked + label span img {
    opacity: 1;
  }

  .custom-radios input[type="radio"]#color-s-1 + label span {
    background-color: #2ecc71;
  }

  .custom-radios input[type="radio"]#color-s-2 + label span {
    background-color: #3498db;
  }

  .custom-radios img {
    margin-bottom: 60%;
  }

  /* close cross font size */
    .shapesSpan{
      font-size:14px;
    }

/* progress bar */
  .progress{
    display:none;
  }

/* images append container */
  #image_preview{
    min-height:40vh;
  }

/* images modal text */
  .contentImagesModal>p{
    color:grey;font-weight:bold;
  }

/* images modal buttons  */
  .buttonsImageUpload{
    margin:0px;position:fixed;bottom:0px;width:92%;
  }

  /* images modal buttons div */
  .buttonsImageUpload>div{
    padding: 0px;
  }

/* images modal buttons label */
  .btn-bs-file{
    border-radius:0px;margin-bottom:8px;
  }

/* buynow modal container */
  .cartContainer{
    margin-top:40%;
  }

/* container for modifying text */
  .containerAll{
    padding:0px;
  }

/*------- Text modal--------*/

/* cancel button */
  #textModal .canceldiv {
    padding-right: 0px;
  }

/* apply button */
  #textModal .applydiv {
    padding-left: 0px;
  }

/* both apply and cancel btn */
  #textModal .textModalbtn {
    border-radius: 0px;
  }

/* apply button border radius */
  #textModal #hell{
    border-radius:0px;
  }

/* textarea */
  #textModal textarea {
    height: 120px;
    width: 100%;
    margin-top: 10px;
    resize: none;
    border: none;
    font-weight: bold;
  }


  /* buttons */
  #textModal .textButton {
    display: inline-block;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  /* modal body */
  #textModal .self-modal {
    margin: 0px;
    padding: 0px;
  }

/*------- Text setting modal--------*/

/* text setting modal width*/
  #textSettingModal {
    width: 100%;
  }

/* close button */
  #textSettingModal .realdiv {
    float: right;
    background: #445d6c;
    border: none;
    color: white;
  }

/* modal dialog */
  #textSettingModal .modal-dialog {
    margin: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

/* color */
  #textSettingModal .aligntext {
    color: grey;
  }

/* bend text */
  #textSettingModal .benddiv {
    padding: 20px;
    background: white;
  }

/* collapsible dropup div */
  #textSettingModal #dropupDiv{
    color:#0483c2;border:1px solid;margin-left:0.1%;margin-right:0.1%;
  }

/* fonts text */
  #textSettingModal .fontstext {
    max-height: 150px;
    overflow: scroll;
    font-weight: bold;
  }

/* modal body */
  #textSettingModal .modal-body {
    padding: 0px;
    margin-right: 0px;
  }

/* modal header */
  #textSettingModal .modal-header {
    padding: 4px;
    background: #445d6c;
  }

/* text color and font */
  #textSettingModal #textsetting {
    color: white;
    font-weight: bold;
  }

/* containerSame for modifying text */
  #textSettingModal #containerSame{
    padding:5% 0%;
  }

/* align text */
  #alignTextModal {
    background: #fff;
    min-width: 100%;
  }

/* dropup content */
  #textSettingModal .dropup-content {
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 70px;
    z-index: 99;
  }

 /* fonts li odd number */
  #textSettingModal ul.striped-list > li:nth-of-type(odd) {
    background-color: #f2f2f2;
  }

 /* all li of fonts */
  #textSettingModal ul.striped-list > li {
    border-bottom: 1px solid rgb(221,221,221);
    padding: 2%;
  }

 /* last child of ul fonts*/
  #textSettingModal ul.striped-list > li:last-child {
    border-bottom: none;
  }

  /* modal content */
  #textSettingModal .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
  }

/* textSettingModal all options */
  #textSettingModal .port-item {
    font-size: 12px;
    padding: 2%;
    border: 1px solid;
  }

/* colors modal */
  #colorTextModal {
    margin-bottom: 2%;
    right: 0%;
  }

/* fonts padding */
  #fontTextModal {
    right: 0%;
    display:none;
  }

/* fonts modal */
  #fontModalList {
    max-height: 120px;
    margin-bottom: 2%;
    overflow: scroll;
    font-weight: bold;
  }

/* fonts all li */
  #fontModal ul>li {
    cursor: pointer;
  }

/* selecting object outside modal enabled */
  #trytext .modal {
    bottom: initial!important;
  }

    /* Hide checkbox */
  input[type=checkbox] {
    position: absolute;
    display: none;
    visibility: hidden;
  }



  /*------- Shapes Modal --------*/

    /* modal dialog */
  #shapesModal .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* modal content */
  #shapesModal .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

        /* images */
  #shapesModal .shapesImage {
    padding: 10%;
    margin-bottom: 8%;
    border-radius: 0px;
    text-align: center;
    cursor: pointer;
    background-color: #f2f2f2;
  }

/* selecting objects outside modal enabled */
  #tryshapes .modal {
    bottom: initial!important;
  }


/*------- Shapes setting modal --------*/

/* close button */
  #shapesSettingModal .realdivShapes {
    float: right;
    background: #445d6c;
    border: none;
    color: white;
  }

  /* shapes colors */
    #shapesSettingModal #colorShapes{
      display:none;
    }

/* modal dialog */
  #shapesSettingModal .modal-dialog {
    margin: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

/* modal header */
  #shapesSettingModal .modal-header {
    padding: 4px;
    background: #445d6c;
  }

/* text*/
  #shapesSettingModal #textsetting {
    color: white;
    font-weight: bold;
  }

/* pointer on cursor */
  #shapesSettingModal .pointer {
    cursor: pointer;
  }

/* modal body */
  #shapesSettingModal .modal-body {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

/* shapesSettingModal width */
  #shapesSettingModal {
    width: 100%;
  }


    /*------- Images Modal--------*/

    /* modal dialog */
  #imagesModal .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* modal content */
  #imagesModal .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }

/*------- Image setting modal --------*/

      /* close button */
  #imageSettingModal .realImageShapes {
    float: right;
    background: #445d6c;
    border: none;
    color: white;
  }

      /* modal dialog */
  #imageSettingModal .modal-dialog {
    margin: 0px;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  /* modal header */
  #imageSettingModal .modal-header {
    padding: 4px;
    background: #445d6c;
  }

  /* text */
  #imageSettingModal #textsetting {
    color: white;
    font-weight: bold;
  }

/* selecting objects outside modal enabled */
  #tryimages .modal {
    bottom: initial!important;
  }


  /*------- Buy now modal --------*/

/* modal dialog */
  #buyNowModal .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* modal content */
  #buyNowModal .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}

@media only screen and (min-width: 768px) {

  /* ==================================== Customized.php ====================================*/


  /*------- Common rule --------*/

  /* logo image */
  .logo>img {
    height: 250%;
  }

/* modal header */
  .modal-header {
    padding: 2%;
    margin-bottom: 2%;
  }

/*------- Carousel --------*/

/* carousel controls */
  #myCarousel a>i {
    position: relative;
    margin-top: 150%;
    font-weight: bold;
    color: blue;
  }

/* carousel image */
  #myCarousel .carousel-image {
    margin-left: 25%;
  }

/* ==================================== Footer.php ====================================*/

/*------- Text modal --------*/

/* textarea */
  #textModal textarea {
    height: 250px;
    width: 100%;
    margin-top: 20px;
    resize: none;
    border: none;
    overflow: auto;
    font-weight: bold;
  }

/* modal dialog */
  #textModal .modal-dialog {
    height: auto;
    width: 90%;
    margin-left: 38px;
    padding: 0px;
  }

/*------- Text setting modal --------*/

/* colors */
  #colorTextModal {
    margin-bottom: 2%;
    right: 0%;
  }

/* fonts */
  #fontTextModal {
    right: 0%;
  }

/* fonts ul */
  #fontModalList {
    max-height: 180px;
    margin-bottom: 0%;
    overflow: scroll;
    font-weight: bold;
  }

/* droupup content */
  #textSettingModal .dropup-content {
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    z-index: 99;
  }

/* well class */
  #textSettingModal .well {
    background: white;
    padding: 4%;
    position: relative;
    right: 0%;
  }

  /* bend text */
  #bendTextModal {
    margin-bottom: 5%;
    background:white;
  }

/* align text  */
  #alignTextModal {
    margin-bottom: 4%;
  }

/*------- Shapes setting modal --------*/

/* modal body */
  #shapesSettingModal .modal-body {
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
